{% extends 'users/detail.html' %}
{% block user_details %}
<div class="col-sm-9">
  <div class="row">

    <div class="col-lg-6 col-md-8 col-sm-12">
      <ul class="list-group" id="messages">
        {% for msg in liked_messages %}
        <li class="list-group-item">
          <a href="/messages/{{ msg.id  }}" class="message-link">
            <a href="/users/{{ msg.user.id }}">
              <img src="{{ msg.user.image_url }}" alt="" class="timeline-image">
            </a>
            <div class="message-area">
              <a href="/users/{{ msg.user.id }}">@{{ msg.user.username }}</a>
              <span class="text-muted">{{ msg.timestamp.strftime('%d %B %Y') }}</span>
              <p>{{ msg.text }}</p>
              <a href='/users/{{ g.user.id }}/delete-like/{{msg.id}}' formaction='POST'><i
                  class="fas fa-star fa-2x"></i></a>

            </div>
        </li>
        {% endfor %}
      </ul>
    </div>

  </div>
</div>
{% endblock %}