{% extends 'users/detail.html' %}
{% block user_details %}
    <div class="col-sm-6">
      <h2>My Likes</h2>
      <hr>
      <ul class="list-group" id="messages">
        {% for msg in liked_messages %}
        <li class="list-group-item">
          <a href="/messages/{{ msg.id  }}" class="message-link">
            <a href="/users/{{ msg.user.id }}">
              <img src="{{ msg.user.image_url }}" alt="" class="timeline-image">
            </a>
            <a class="liked-heart" href='/users/{{ g.user.id }}/delete-like/{{msg.id}}' formaction='POST'><i
                class="fas fa-heart fa-lg"></i></a>
            <div class="message-area">
              <a href="/users/{{ msg.user.id }}">@{{ msg.user.username }}</a>
              <span class="text-muted">{{ msg.timestamp.strftime('%d %B %Y') }}</span>
              <p>{{ msg.text }}</p>

            </div>
        </li>
        {% endfor %}
      </ul>
    </div>

{% endblock %}