{% extends 'users/detail.html' %}
{% block user_details %}
<div class="col-sm-6">
  <h2>My Messages</h2>
  <hr>
  <ul class="list-group" id="messages">

    {% for message in messages %}
    <li class="list-group-item">
      <a href="/messages/{{ message.id }}" class="message-link" ></a>
      <a href="/users/{{ user.id }}">
        <img src="{{ user.image_url }}" alt="user image" class="timeline-image">
      </a>
      {% if message.id in liked_msg_ids %}
      <a class="liked-heart" href='/users/{{ g.user.id }}/delete-like/{{message.id}}' formaction='POST'><i
          class="fas fa-heart fa-lg"></i></a>
      {% else %}
      <a class="not-liked-heart" href='/users/{{ g.user.id }}/add-like/{{message.id}}' formaction='POST'><i class="far fa-heart fa-lg"></i></a>
      {% endif%}
      <div class="message-area">
        <a href="/users/{{ user.id }}">@{{ user.username }}</a>
        <span class="text-muted">{{ message.timestamp.strftime('%d %B %Y') }}</span>
        <p>{{ message.text }}</p>
      </div>
    </li>

    {% endfor %}

  </ul>
</div>
{% endblock %}